.astrologia {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: auto;
    background-color: #fbfd6b;
    border-radius: 100px 0 100px 0;
    padding: 1% 1%;
}

.flex-h3{
    width: 75vw;
    text-align: justify;
    align-content: flex-start;
    margin: 1rem auto;
}

.flex-p {
    width: 75vw;
    text-align: justify;
    text-indent: 3rem;
    align-content: center;
    margin: 1rem auto;
}