body {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    width: 100vw;
}

header {
    background-color: blueviolet;
    background-image: url('bg-topo.jpg');
    background-size: 100% 100%;
    text-decoration: none;
    border-radius: 0 0 70px 0;
    position: relative;
    display: inline-block;
    width: 100vw;
    min-height: 200px;
    margin-bottom: 2rem;
    
}

header > h1 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 100vw;
    top: 50px;
}

header > div > img {
    width: 145px;  
    border-radius: 50%;
    border-style: inset;
    border-color: rgb(253, 253, 133);
    position: absolute;
    left: 5%;
    top: 22px;
}

header > div > nav > ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
}

header > div > a {
    right: 0;
}

header > div > nav > ul > li {
    display: inline;    
}

header > div > nav > ul > li:hover  {
    display: inline;
    font-weight: bold;    
}

header > div > nav > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    margin: 2%;
    text-transform: uppercase;
    
}

footer {
    background-color: #3a1a71;
    color: #fff;
    text-align: center;
    padding: 1px 0px;
    border-radius: 25px 0 0 0;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

footer > img {
    width: 5%;
    border-radius: 50%;
    margin-top: 5px;
}

footer > h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.insta {
    width: 35px;
}

.insta:hover {
    width: 35px;
    opacity: 50%;
}

.whats{
    width: 35px;
}

.whats:hover {
    width: 35px;
    opacity: 50%;
}

.youtube{
    width: 35px;
}

.youtube:hover {
    width: 35px;
    opacity: 50%;
}

.face{
    width: 35px;
}

.face:hover {
    width: 35px;
    opacity: 50%;
}

.telegram {
    width: 35px;
}

.telegram:hover {
    width: 35px;
    opacity: 50%;
}

.nav {
    position: absolute;
    top: 153px;
}

.header-strip {
    position: absolute;
    right: 0;
    border-radius: 0 0 0 55px;
    width: 410px;
    display: inline-block;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    top: 0;
    text-align: right;
    padding: 25px 0px;

}

.icons {
    display: inline-block;
    margin-left: -15px;
    font-size: 20px;
    box-sizing: border-box;
    text-align:right;
    vertical-align: middle;
    position: relative;
    padding-top: 8px;
    width: 100vw;
}

.icons > a {
    color: #fff;
    padding: 0px 0.9rem;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    header {
        border-radius: 0 0 70px 0;
        position: relative;
        display: inline-block;
        width: 100vw;
        min-height: 300px;
        margin-bottom: 2rem;
    }
    
    header > div > img {
        width: 115px;  
        border-radius: 50%;
        border-style: inset;
        border-color: rgb(253, 253, 133);
        position: relative;
        left: 0%;
        top: 70px;
    }

    header > h1 {
        text-align: center;
        color: #ffffff;
        position: absolute;
        width: 100vw;
        top: 187px;
        font-size: x-large;
    }
    
    .logo {
        text-align: center;
    }
    
    .icons {
        display: inline-block;
        margin-left: 0px;
        font-size: 20px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        padding-top: 8px;
        width: 100vw;
        top: 0px;
    }

    .header-strip {
        position: absolute;
        right: 0;
        border-radius: 0 0 0 0;
        width: 100vw;
        display: inline-block;
        background-color: #414141;
        color: #ffffff;
        text-decoration: none;
        top: 0;
        text-align: right;
        padding: 20px 0px;
        height: 18px;
    }

    .insta {
        width: 35px;
    }
    
    .whats{
        width: 35px;
    }
    
    .youtube{
        width: 35px;
    }
    
    .face{
        width: 35px;
    }
    
    .telegram {
        width: 35px;
    }

    .nav {
        position: absolute;
        top: 250px;
    }
}
