body {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

header {
    background-color: blueviolet;
    background-image: url('bg-topo.jpg');
    background-size: 100% 100%;
    text-decoration: none;
    border-radius: 0 0 55px 0;
    position: relative;
    display: inline-block;
    width: 100vw;
    min-height: 200px;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 100vw;
    top: 50px;
}

header > img {
    width: 145px;  
    border-radius: 50%;
    border-style: inset;
    border-color: rgb(253, 253, 133);
    position: absolute;
    left: 5%;
    top: 22px;
}

header > div > a {
    right: 0;
}

.insta {
    width: 2.5%;
}

.whats{
    width: 2.5%;
}

.youtube{
    width: 3%;
}

.face{
    width: 2.5%;
}

.telegram {
    width: 2.5%;
}

.nav {
    position: absolute;
    top: 153px;
}

header > div > nav > ul {
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100vw;
}

header > div > nav > ul > li {
    display: inline;
    
}

header > div > nav > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    margin: 2%;
    text-transform: uppercase;
    
}

.header-strip {
    position: absolute;
    right: 0;
    border-radius: 0 0 0 55px;
    width: 35%;
    display: inline-block;
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
    top: 0;
    text-align: right;
    padding: 25px 0px;

}
.icons {
    display: inline-block;
    margin-left: 8px;
    margin-right: 20px;
    font-size: 20px;
    box-sizing: border-box;
    text-align:right;
    vertical-align: middle;
    position: relative;
    padding-top: 8px;
}

.icons > a {
    color: #fff;
    padding: 0px 0.9rem;
    vertical-align: middle;
}

main {
    color: #636363
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: justify;
}

footer {
    background-color: #3a1a71;
    color: #fff;
    text-align: center;
    padding: 1px 0px;
    border-radius: 25px 0 0 0;
}